.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.houseCard{
  background-color:gray;
}
/* Style guide colors
3b5249
519872
afd4c0
e5f4ec
8aea92
fec2c2
dedede
Style Guide Fonts- How to use here https://medium.freecodecamp.org/how-to-use-google-fonts-in-your-next-web-design-project-e1ad48f1adfa
https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans
*/